<?xml version="1.0"?>
<connectionStrings>
  <clear/>  
  <!--<add name="SicConnectionString" connectionString="Server=10.1.232.4;Database=SIntegralNqn;User ID=sgh;Password=ssecure;Trusted_Connection=False;"/>-->
    <add name="SicConnectionString" connectionString="Server=10.1.232.15;Database=SSO;User ID=sa;Password=ssecure;Trusted_Connection=False;"/>
  <add name="SSOMembershipProviderConnectionString" connectionString="Server=10.1.232.15;Database=SSO;User ID=sa;Password=ssecure;Trusted_Connection=False;"/>
</connectionStrings>
