<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="SSO_HOSPITALConnection" connectionString="data source=10.1.232.15;initial catalog=SSO_HOSPITAL;user id=sa;password=ssecure" providerName="System.Data.SqlClient" />-->
      <add name="SSO_HOSPITALConnection" connectionString="data source=.\recupero;initial catalog=SSO_HOSPITAL;user id=sa;password=zapala76" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>